{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    GRshop | Checkout
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Checkout order</h1>
        </div>
        <div class="order-table col-12 col-lg-8">
            <table class="cart w-100 table .table-striped ">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Count</th>
                    <th>Unit price</th>
                    <th>Sum</th>
                </tr>
                </thead>
                <tbody>

                {% for item in cart %}
                    {% with product=item.product %}
                        <tr class="cart-item-tr">
                            <td>{{ product.title }}</td>
                            <td>{{ item.count }}</td>
                            <td class="num">${{ item.price }}</td>
                            <td class="num">${{ item.total_price }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr class="total">
                    <td><b>Total</b></td>
                    <td colspan="2"></td>
                    <td class="num">${{ cart.get_total_price }}</td>
                </tr>
                <tr class="promo-discount-tr d-none">
                    <td class="promo-discount-tr__discount"></td>
                    <td colspan="2"><b>Total sum with discount</b></td>
                    <td class="promo-discount-tr__total-sum"><b></b></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="order-promocode col-12 col-lg-4">
            <form action="{% url "promo:check_promocode" %}" method="POST"
                  class="check-promocode-form d-flex justify-content-evenly align-items-center">
                {% csrf_token %}
                {{ check_promocode_form|crispy }}
                <button class="check-promocode-btn btn btn-outline-primary mt-3" type="submit">Check it!</button>
            </form>
            <div class="existed-promocode text-center">

            </div>
            <div class="existed-promo-name text-center">

            </div>
        </div>
        <div class="checkout-order-detail col-12 mt-5">
            <div class="checkout-order-detail__title mb-3">
                <h5>Check order delivery and payment information</h5>
            </div>
            <div class="checkout-order-detail__body">
                <div class="checkout-order-detail__form">
                    <form action="{% url "cart:order_add" %}" method="POST" class="row">
                        {% csrf_token %}
                        {% crispy checkout_form %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="checkoutModal" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Registration process</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="checkout-promocode-btn-understand btn btn-primary"
                            data-bs-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>

    <script>
        //переписать если будет время.
        $(document).on('click', '.check-promocode-btn', function (e) {
            e.preventDefault();
            let data = $('form.check-promocode-form').serialize();
            console.log((data))
            $.ajax({
                type: 'POST',
                url: '{% url "promo:check_promocode" %}',
                data: data,
                success: function (json) {
                    console.log(json)
                    if (json.promo) {
                        $('.existed-promocode').html("Promocode: " + json.promo.promo_code);
                        $('.existed-promo-name').html("Promotion name: " + json.promo.title);
                        $('.promo-discount-tr').removeClass('d-none');
                        $('.promo-discount-tr__discount').html("Discount " + json.promo.discount + " % ");
                        $('.promo-discount-tr__total-sum').html("$" + json.total_sum);
                        $('.checkout-order-detail__form input:hidden[name=promo_code]').attr('value', json.promo.promo_code);
                    }

                    if (json.modal) {
                        $("#checkoutModal .modal-body").html(json.modal.message)
                        $('.checkout-promocode-btn-understand').html(json.modal.button)
                       $("#checkoutModal").modal("show");
                    }

                },
                error: function (xhr, errMsg, err) {
                    console.error(errMsg, [xhr, err])
                }
            })
        })
    </script>
{% endblock %}